@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)) ,url('/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Dark mode looking scrollbar */
::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

/* Define the bounce animation */
@keyframes bounce {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-5px);
  }
}

/* Apply the animation to incoming messages */
.bounce {
  animation: bounce 0.5s ease-in-out;
}
